*.zig text eol=lf
langref.html.in text eol=lf

c_headers/* linguist-vendored
deps/* linguist-vendored
libc/glibc/* linguist-vendored
libc/musl/* linguist-vendored
libc/include/* linguist-vendored
libcxx/* linguist-vendored
libunwind/* linguist-vendored
