Ali Chraghi <alichraghi@proton.me> <alichraghi@pm.me>
Casey Banner <kcbanner@gmail.com>
David Carlier <devnexen@gmail.com>
Dominic <4678790+dweiller@users.noreply.github.com> <4678790+dweiller@users.noreplay.github.com>
Frank Denis <124872+jedisct1@users.noreply.github.com> <github@pureftpd.org>
Gaëtan S <blaxoujunior@gmail.com>
Jan Philipp Hafer <jan.hafer@rwth-aachen.de> <anon_1plus1equals3@mailbox.org>
Jeremy Volkman <jeremy@jvolkman.com> <jeremy@cedarai.com>
Joachim Schmidt <joachim.schmidt557@outlook.com>
Krzysztof Wolicki <der.teufel.mail@gmail.com>
Krzysztof Wolicki <der.teufel.mail@gmail.com> <46651553+der-teufel-programming@users.noreply.github.com>
Meghan Denny <hello@nektro.net>
Michael Bartnett <michael.bartnett@gmail.com> <michaelbartnett@users.noreply.github.com>
Motiejus Jakštys <motiejus@jakstys.lt> <motiejus@uber.com>
Niles Salter <Validark@pm.me>
Tom Read Cutting <readcuttingt@gmail.com> <moosichu@users.noreply.github.com>
Wooster <r00ster91@proton.me>
Wooster <r00ster91@proton.me> <wooster0@proton.me>
antlilja <liljaanton2001@gmail.com> <12533691+antlilja@users.noreply.github.com>
xEgoist <egoist@egoistic.dev> <101279047+xEgoist@users.noreply.github.com>
